<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>kickball_site</title>
  <link rel="stylesheet" href="/stylesheets/app.css">
</head>

<body>
  <a href='http://localhost:4567'><h5>Home</h5></a>
  <%= yield %>
  <script src="/javascripts/app.js"></script>
  <img src="http://cliparting.com/wp-content/uploads/2016/05/Baseball-clip-art-free-clipart-clipartcow-2.gif">
</body>
</html>
